body {
    font-family: 'Righteous', cursive;
    background-color: lightgrey;
}
.navbar {
    background-color: red;
    font-size : 20px;
}
.button-login {
    background-color: red;
    border-color: red ;
    color: black;
}
.check {
    background-color: red;
}
.profil {
    background-color: white;
    border-radius: 25%;
}