body {
    font-family: 'Righteous', cursive;
    background-color: rgb(240, 240, 240);
}
.navbar {
    background-color: rgb(15, 76, 129);
    font-size : 20px;
}
.button-login {
    background-color: rgb(15, 76, 129);
    border-color: rgb(15, 76, 129) ;
    color: white;
}
.check {
    background-color: rgb(15, 76, 129);
}
.profil {
    background-color: white;
    border-radius: 25px;
    height: 100%;
    width: 80%;
    border: solid 5px rgb(15, 76, 129);

}
.avatar {
    width :150px;
    height :150px;
    border-radius : 50%;    
}
.button-deco {
    background-color: red;
    border-color: red;
    color: white;
}
.pdf {
    object-position: center;
    object-fit: contain;
}
.titleCours {
    text-decoration: underline red;
}